In [1]:
import pandas as pd # Importing pandas


file_path = 'macro.data.csv' #Importing file
df = pd.read_csv(file_path)

In [2]:
df.head(100)

,Region,Country,CountryID,Industry,Edition,Category,ParentID,Subcategory,ProductID,Lowest Level,...,2021,2022,2023,2024,2025,2026,2027,2028,2029,2030
0,Asia Pacific,Azerbaijan,163,Countries & Consumers,2014,Economy and Finance,1632,Total GDP,1634,no,...,1.013374e+05,1.055003e+05,1.098343e+05,1.143463e+05,1.190436e+05,1.239339e+05,1.290251e+05,1.343255e+05,1.398436e+05,1.455884e+05
1,Asia Pacific,China,195,Countries & Consumers,2014,Economy and Finance,1632,Total GDP,1634,no,...,1.572255e+07,1.666598e+07,1.766592e+07,1.872588e+07,1.984943e+07,2.104040e+07,2.230282e+07,2.364099e+07,2.505945e+07,2.656302e+07
2,Asia Pacific,"Hong Kong, China",259,Countries & Consumers,2014,Economy and Finance,1632,Total GDP,1634,no,...,3.553615e+05,3.670885e+05,3.792024e+05,3.917161e+05,4.046427e+05,4.179959e+05,4.317898e+05,4.460389e+05,4.607581e+05,4.759632e+05
3,Asia Pacific,India,265,Countries & Consumers,2014,Economy and Finance,1632,Total GDP,1634,no,...,3.208204e+06,3.426360e+06,3.659353e+06,3.908189e+06,4.173946e+06,4.457774e+06,4.760902e+06,5.084644e+06,5.430400e+06,5.799667e+06
4,Asia Pacific,Indonesia,263,Countries & Consumers,2014,Economy and Finance,1632,Total GDP,1634,no,...,1.331538e+06,1.404773e+06,1.482036e+06,1.563548e+06,1.649543e+06,1.740267e+06,1.835982e+06,1.936961e+06,2.043494e+06,2.155886e+06
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
95,Asia Pacific,Malaysia,314,Countries & Consumers,2014,Population,1552,Population: National Estimates at January 1st,1554,no,...,3.281230e+04,3.319369e+04,3.356975e+04,3.393934e+04,3.430138e+04,3.465506e+04,3.499987e+04,3.533529e+04,3.566077e+04,3.597589e+04
96,Asia Pacific,Pakistan,332,Countries & Consumers,2014,Households and Homes,30448,Possession of Refrigerator,2508,yes,...,5.086145e+01,5.135169e+01,5.180021e+01,5.221010e+01,5.258472e+01,5.292723e+01,5.324029e+01,5.352646e+01,5.378805e+01,5.402717e+01
97,Asia Pacific,Pakistan,332,Countries & Consumers,2014,Population,1552,Population: National Estimates at January 1st,1554,no,...,2.585444e+05,2.639318e+05,2.691555e+05,2.741900e+05,2.790153e+05,2.836214e+05,2.880067e+05,2.921704e+05,2.961157e+05,2.998443e+05
98,Asia Pacific,Philippines,331,Countries & Consumers,2014,Households and Homes,30448,Possession of Refrigerator,2508,yes,...,4.959404e+01,5.012536e+01,5.062323e+01,5.108793e+01,5.152239e+01,5.192178e+01,5.229422e+01,5.264123e+01,5.296411e+01,5.326430e+01
99,Asia Pacific,Philippines,331,Countries & Consumers,2014,Population,1552,Population: National Estimates at January 1st,1554,no,...,1.121598e+05,1.139256e+05,1.156956e+05,1.174621e+05,1.192190e+05,1.209638e+05,1.226955e+05,1.244125e+05,1.261134e+05,1.277972e+05

In [3]:
df.fillna(0, inplace=True) # Filling Nan with 0

In [5]:
# List of column names to drop
columns_to_drop = [
    'CountryID', 'Industry', 'Edition', 'Category',
    'ParentID', 'ProductID', 'Lowest Level', 'Modelled',
    'Hierarchy Level', 'Data Type', 'DataTypeID', 'Unit',
    'Unit Multiplier', 'Current/Constant', 'Currency Conversion'
]


# Drop the specified columns
df_cleaned = df.drop(columns=columns_to_drop)

# Print the cleaned DataFrame to check the result
print(df_cleaned.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 240 entries, 0 to 239
Data columns (total 57 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   Region       240 non-null    object
 1   Country      240 non-null    object
 2   Subcategory  240 non-null    object
 3   1977         240 non-null    float64
 4   1978         240 non-null    float64
 5   1979         240 non-null    float64
 6   1980         240 non-null    float64
 7   1981         240 non-null    float64
 8   1982         240 non-null    float64
 9   1983         240 non-null    float64
 10  1984         240 non-null    float64
 11  1985         240 non-null    float64
 12  1986         240 non-null    float64
 13  1987         240 non-null    float64
 14  1988         240 non-null    float64
 15  1989         240 non-null    float64
 16  1990         240 non-null    float64
 17  1991         240 non-null    float64
 18  1992         240 non-null    float64
 19  1993         240 non-null    float64
 20  1994         240 non-null    float64
 21  1995         240 non-null    float64
 22  1996         240 non-null    float64
 23  1997         240 non-null    float64
 24  1998         240 non-null    float64
 25  1999         240 non-null    float64
 26  2000         240 non-null    float64
 27  2001         240 non-null    float64
 28  2002         240 non-null    float64
 29  2003         240 non-null    float64
 30  2004         240 non-null    float64
 31  2005         240 non-null    float64
 32  2006         240 non-null    float64
 33  2007         240 non-null    float64
 34  2008         240 non-null    float64
 35  2009         240 non-null    float64
 36  2010         240 non-null    float64
 37  2011         240 non-null    float64
 38  2012         240 non-null    float64
 39  2013         240 non-null    float64
 40  2014         240 non-null    float64
 41  2015         240 non-null    float64
 42  2016         240 non-null    float64
 43  2017         240 non-null    float64
 44  2018         240 non-null    float64
 45  2019         240 non-null    float64
 46  2020         240 non-null    float64
 47  2021         240 non-null    float64
 48  2022         240 non-null    float64
 49  2023         240 non-null    float64
 50  2024         240 non-null    float64
 51  2025         240 non-null    float64
 52  2026         240 non-null    float64
 53  2027         240 non-null    float64
 54  2028         240 non-null    float64
 55  2029         240 non-null    float64
 56  2030         240 non-null    float64
dtypes: float64(54), object(3)
memory usage: 107.0+ KB
None

In [7]:
df_cleaned.head(100)

,Region,Country,Subcategory,1977,1978,1979,1980,1981,1982,1983,...,2021,2022,2023,2024,2025,2026,2027,2028,2029,2030
0,Asia Pacific,Azerbaijan,Total GDP,0.000000,0.000000,0.000000,0.000000,0.00000,0.000000,0.000000,...,1.013374e+05,1.055003e+05,1.098343e+05,1.143463e+05,1.190436e+05,1.239339e+05,1.290251e+05,1.343255e+05,1.398436e+05,1.455884e+05
1,Asia Pacific,China,Total GDP,324287.150500,362228.747100,389758.131900,420588.000100,442458.57610,482722.306500,535339.038000,...,1.572255e+07,1.666598e+07,1.766592e+07,1.872588e+07,1.984943e+07,2.104040e+07,2.230282e+07,2.364099e+07,2.505945e+07,2.656302e+07
2,Asia Pacific,"Hong Kong, China",Total GDP,44929.901880,48704.013640,54353.679220,59973.849650,65604.79440,67561.785410,71561.443110,...,3.553615e+05,3.670885e+05,3.792024e+05,3.917161e+05,4.046427e+05,4.179959e+05,4.317898e+05,4.460389e+05,4.607581e+05,4.759632e+05
3,Asia Pacific,India,Total GDP,254198.818700,268179.753700,254770.766000,264008.754000,280313.93460,291728.318100,314392.691100,...,3.208204e+06,3.426360e+06,3.659353e+06,3.908189e+06,4.173946e+06,4.457774e+06,4.760902e+06,5.084644e+06,5.430400e+06,5.799667e+06
4,Asia Pacific,Indonesia,Total GDP,138042.398200,148809.705300,158184.716700,173813.366700,187030.13510,191230.832000,199249.140800,...,1.331538e+06,1.404773e+06,1.482036e+06,1.563548e+06,1.649543e+06,1.740267e+06,1.835982e+06,1.936961e+06,2.043494e+06,2.155886e+06
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
95,Asia Pacific,Malaysia,Population: National Estimates at January 1st,12901.055000,13200.219000,13518.260000,13879.252000,14256.92200,14651.050000,15048.201000,...,3.281230e+04,3.319369e+04,3.356975e+04,3.393934e+04,3.430138e+04,3.465506e+04,3.499987e+04,3.533529e+04,3.566077e+04,3.597589e+04
96,Asia Pacific,Pakistan,Possession of Refrigerator,0.303156,0.344684,0.406976,0.516467,0.69982,0.978769,1.406277,...,5.086145e+01,5.135169e+01,5.180021e+01,5.221010e+01,5.258472e+01,5.292723e+01,5.324029e+01,5.352646e+01,5.378805e+01,5.402717e+01
97,Asia Pacific,Pakistan,Population: National Estimates at January 1st,74923.251010,77130.604160,79437.208170,81841.515570,84339.44471,86921.305860,89592.720350,...,2.585444e+05,2.639318e+05,2.691555e+05,2.741900e+05,2.790153e+05,2.836214e+05,2.880067e+05,2.921704e+05,2.961157e+05,2.998443e+05
98,Asia Pacific,Philippines,Possession of Refrigerator,9.100000,10.000000,11.100000,12.300000,13.70000,14.900000,16.300000,...,4.959404e+01,5.012536e+01,5.062323e+01,5.108793e+01,5.152239e+01,5.192178e+01,5.229422e+01,5.264123e+01,5.296411e+01,5.326430e+01
99,Asia Pacific,Philippines,Population: National Estimates at January 1st,43651.688000,44867.695000,46115.445000,47398.432000,48716.42200,50067.906000,51453.251000,...,1.121598e+05,1.139256e+05,1.156956e+05,1.174621e+05,1.192190e+05,1.209638e+05,1.226955e+05,1.244125e+05,1.261134e+05,1.277972e+05

In [8]:
# Melt the DataFrame
df_melted = df_cleaned.melt(id_vars=['Region', 'Country', 'Subcategory'], var_name='Year', value_name='Value')

# Display the melted DataFrame
df_melted.head(1000)

             Region           Country  Subcategory  Year         Value
0      Asia Pacific        Azerbaijan    Total GDP  1977       0.00000
1      Asia Pacific             China    Total GDP  1977  324287.15050
2      Asia Pacific  Hong Kong, China    Total GDP  1977   44929.90188
3      Asia Pacific             India    Total GDP  1977  254198.81870
4      Asia Pacific         Indonesia    Total GDP  1977  138042.39820
..              ...               ...          ...   ...           ...
995  Eastern Europe           Ukraine    Total GDP  1981       0.00000
996   Latin America         Argentina    Total GDP  1981  261162.58270
997   Latin America           Bolivia    Total GDP  1981   12167.61069
998   Latin America            Brazil    Total GDP  1981  949264.07140
999   Latin America             Chile    Total GDP  1981   68216.49736

[1000 rows x 5 columns]

In [26]:
# Filter for 'Possession of Refrigerator' and check if the DataFrame is empty
# Filter for subcategories related to 'Possession of Refrigerator'
related_subcategories = df_melted[df_melted['Subcategory'].str.contains('Refrigerator', na=False)]

# Display the unique related subcategories
print("Related Subcategories:")
print(related_subcategories['Subcategory'].unique())

Related Subcategories:
['  Possession of Refrigerator']

In [32]:
import pandas as pd

# Assuming df_melted is already defined and has necessary columns
# Separate the data by the new subcategories
gdp_df = df_melted[df_melted['Subcategory'] == '  Total GDP']
population_df = df_melted[df_melted['Subcategory'] == 'Population: National Estimates at January 1st']
refrigerator_df = df_melted[df_melted['Subcategory'] == '  Possession of Refrigerator']

# Group by 'Region', 'Country', 'Year' and sum the values
gdp_sums = gdp_df.groupby(['Region', 'Country', 'Year'])['Value'].sum().reset_index()
population_sums = population_df.groupby(['Region', 'Country', 'Year'])['Value'].sum().reset_index()
refrigerator_sums = refrigerator_df.groupby(['Region', 'Country', 'Year'])['Value'].sum().reset_index()

# Rename columns for clarity
gdp_sums.rename(columns={'Value': 'GDP'}, inplace=True)
population_sums.rename(columns={'Value': 'Population'}, inplace=True)
refrigerator_sums.rename(columns={'Value': 'Refrigerator Possession'}, inplace=True)



# Merge the results on 'Region', 'Country', 'Year'
merged_df = pd.merge(gdp_sums, population_sums, on=['Region', 'Country', 'Year'], how='outer')
merged_df = pd.merge(merged_df, refrigerator_sums, on=['Region', 'Country', 'Year'], how='outer')


# Create the formatted column if needed
merged_df['Formatted'] = merged_df.apply(
    lambda row: f"{row['Region']}-{row['Country']}-{row['Year']}-{row.get('GDP', 0)}-{row.get('Population', 0)}-{row.get('Refrigerator Possession', 0)}",
    axis=1
)

#Formatting to Unit
merged_df['Population']=merged_df['Population']*1000 
merged_df['GDP']=merged_df['GDP']*1000000

# Drop the 'Formatted' column if it's not needed in the final output
final_df = merged_df.drop(columns=['Formatted'])

# Print the first 100 rows of the final DataFrame to verify
final_df.head(100)

# Optional: Save the final DataFrame to a CSV file
# final_df.to_csv('final_table.csv', index=False)

,Region,Country,Year,GDP,Population,Refrigerator Possession
0,Asia Pacific,Azerbaijan,1977,0.000000e+00,5.828300e+06,58.294193
1,Asia Pacific,Azerbaijan,1978,0.000000e+00,5.924000e+06,62.215720
2,Asia Pacific,Azerbaijan,1979,0.000000e+00,6.028300e+06,65.496627
3,Asia Pacific,Azerbaijan,1980,0.000000e+00,6.114300e+06,68.241566
4,Asia Pacific,Azerbaijan,1981,0.000000e+00,6.206700e+06,70.538093
...,...,...,...,...,...,...
95,Asia Pacific,China,2018,1.317462e+13,1.383697e+09,92.448408
96,Asia Pacific,China,2019,1.399191e+13,1.388452e+09,93.069701
97,Asia Pacific,China,2020,1.483287e+13,1.392714e+09,93.563887
98,Asia Pacific,China,2021,1.572255e+13,1.396472e+09,93.941997
99,Asia Pacific,China,2022,1.666598e+13,1.399727e+09,94.220545

In [33]:
# Saving Dataframe to file
final_df.to_csv('dataframe2.csv', index=False)