Test Task 1

In [1]:
import pandas as pd # Importing pandas

In [4]:
# Importing file, creating dataframe
file_path = 'ice.cream.data.csv'  
df = pd.read_csv(file_path)

In [21]:
# Dataframe view
df.head(50)

,Region,Country,CountryID,Industry,Edition,Category,ParentID,Subcategory,ProductID,Lowest Level,...,2010,2011,2012,2013,2014,2015,2016,2017,2018,2019
0,Asia Pacific,Azerbaijan,163,Packaged Food,2015,Ice Cream,160660,Ice Cream,160660,no,...,NaN,29.238692,30.340307,31.797428,33.885975,35.270988,36.555240,37.919347,39.441743,41.215181
1,Asia Pacific,Azerbaijan,163,Packaged Food,2015,Ice Cream,160660,Ice Cream,160660,no,...,21.016289,21.442719,22.242699,23.292057,24.805161,25.817418,26.756105,27.743523,28.852805,30.145005
2,Asia Pacific,Azerbaijan,163,Packaged Food,2015,Ice Cream,160660,Ice Cream,160660,no,...,31.683196,32.468827,33.824007,35.596403,38.052311,39.834793,41.564929,43.443030,45.547622,47.999423
3,Asia Pacific,Azerbaijan,163,Packaged Food,2015,Ice Cream,160660,Ice Cream,160660,no,...,24.040194,24.672854,25.726400,27.091032,28.971497,30.381223,31.765794,33.267206,34.958683,36.929247
4,Asia Pacific,Azerbaijan,163,Packaged Food,2015,Ice Cream,160660,Ice Cream,160660,no,...,NaN,291.810762,322.067461,343.112059,353.900998,355.194703,360.004716,368.686758,380.552781,395.036649
5,Asia Pacific,China,195,Packaged Food,2015,Ice Cream,160660,Ice Cream,160660,no,...,2847.082677,2984.165172,2905.342026,2933.889151,3005.509439,3069.339071,3126.563945,3189.666130,3253.885297,3307.052387
6,Asia Pacific,China,195,Packaged Food,2015,Ice Cream,160660,Ice Cream,160660,no,...,2202.080369,2307.703475,2246.740213,2269.596406,2326.098048,2376.110183,2420.433170,2468.486874,2516.706245,2555.051125
7,Asia Pacific,China,195,Packaged Food,2015,Ice Cream,160660,Ice Cream,160660,no,...,2851.706501,2989.015564,2910.410685,2939.160557,3010.965344,3074.958653,3132.324016,3195.541403,3259.848699,3313.075423
8,Asia Pacific,China,195,Packaged Food,2015,Ice Cream,160660,Ice Cream,160660,no,...,2206.704193,2312.553867,2251.808872,2274.867811,2331.553952,2381.729765,2426.193241,2474.362147,2522.669647,2561.074161
9,Asia Pacific,China,195,Packaged Food,2015,Ice Cream,160660,Ice Cream,160660,no,...,5260.920909,5477.981680,5497.833501,5617.095845,5867.056832,6073.451814,6274.253181,6495.483566,6727.898391,6949.242307
10,Asia Pacific,"Hong Kong, China",259,Packaged Food,2015,Ice Cream,160660,Ice Cream,160660,no,...,11.735992,11.932907,12.210675,12.450154,12.641214,12.780121,12.886249,13.016686,13.137946,13.248875
11,Asia Pacific,"Hong Kong, China",259,Packaged Food,2015,Ice Cream,160660,Ice Cream,160660,no,...,8.386739,8.527428,8.724715,8.894911,9.030801,9.129246,9.204151,9.296824,9.383251,9.462377
12,Asia Pacific,"Hong Kong, China",259,Packaged Food,2015,Ice Cream,160660,Ice Cream,160660,no,...,13.513880,13.736490,14.046200,14.317767,14.536576,14.700598,14.830255,14.982566,15.123983,15.253290
13,Asia Pacific,"Hong Kong, China",259,Packaged Food,2015,Ice Cream,160660,Ice Cream,160660,no,...,10.164627,10.331012,10.560240,10.762525,10.926163,11.049723,11.148157,11.262704,11.369287,11.466792
14,Asia Pacific,"Hong Kong, China",259,Packaged Food,2015,Ice Cream,160660,Ice Cream,160660,no,...,132.133712,129.494363,128.871830,128.976896,131.457344,133.265490,134.767087,136.514965,138.171706,139.728412
15,Asia Pacific,India,265,Packaged Food,2015,Ice Cream,160660,Ice Cream,160660,no,...,147.723317,167.806372,188.176508,209.285691,228.808568,251.355624,277.106759,305.551444,336.238992,369.712941
16,Asia Pacific,India,265,Packaged Food,2015,Ice Cream,160660,Ice Cream,160660,no,...,106.579191,120.990969,135.570580,150.655134,164.599516,180.757982,199.172548,219.497995,241.419946,265.314068
17,Asia Pacific,India,265,Packaged Food,2015,Ice Cream,160660,Ice Cream,160660,no,...,173.337678,197.378584,221.609560,246.995402,271.264274,298.976558,330.317250,364.788180,401.970448,442.443980
18,Asia Pacific,India,265,Packaged Food,2015,Ice Cream,160660,Ice Cream,160660,no,...,132.193552,150.563181,169.003633,188.364845,207.055221,228.378916,252.383039,278.734731,307.151402,338.045107
19,Asia Pacific,India,265,Packaged Food,2015,Ice Cream,160660,Ice Cream,160660,no,...,473.462595,529.704887,589.819353,636.378891,674.399638,728.829952,789.192043,855.623025,928.342829,1004.756340
20,Asia Pacific,Indonesia,263,Packaged Food,2015,Ice Cream,160660,Ice Cream,160660,no,...,62.636900,67.254931,72.899911,80.133151,87.875326,96.843633,107.047538,117.816580,129.354289,141.840976
21,Asia Pacific,Indonesia,263,Packaged Food,2015,Ice Cream,160660,Ice Cream,160660,no,...,44.838271,48.079850,52.103669,57.391889,62.959307,69.360612,76.606776,84.238320,92.402072,101.227384
22,Asia Pacific,Indonesia,263,Packaged Food,2015,Ice Cream,160660,Ice Cream,160660,no,...,122.529450,132.816076,144.387978,157.777514,171.867759,187.329878,204.127152,221.532473,239.690937,259.008678
23,Asia Pacific,Indonesia,263,Packaged Food,2015,Ice Cream,160660,Ice Cream,160660,no,...,104.730821,113.640995,123.591736,135.036251,146.951740,159.846857,173.686390,187.954213,202.738720,218.395085
24,Asia Pacific,Indonesia,263,Packaged Food,2015,Ice Cream,160660,Ice Cream,160660,no,...,231.512662,253.255853,284.205421,316.019189,351.049602,391.578979,437.834923,487.867303,542.011514,601.406060
25,Asia Pacific,Japan,276,Packaged Food,2015,Ice Cream,160660,Ice Cream,160660,no,...,760.753703,747.166284,762.086265,780.622448,788.369334,793.583466,797.637837,800.683982,803.229852,805.632238
26,Asia Pacific,Japan,276,Packaged Food,2015,Ice Cream,160660,Ice Cream,160660,no,...,564.586726,556.650339,567.418397,580.949711,586.517873,590.265597,593.224610,595.420936,597.263150,599.034448
27,Asia Pacific,Japan,276,Packaged Food,2015,Ice Cream,160660,Ice Cream,160660,no,...,911.028537,892.750525,906.061199,923.321747,930.079898,934.467739,937.845428,940.365190,942.623133,944.850351
28,Asia Pacific,Japan,276,Packaged Food,2015,Ice Cream,160660,Ice Cream,160660,no,...,714.861560,702.234579,711.393331,723.649010,728.228437,731.149870,733.432200,735.102144,736.656431,738.252561
29,Asia Pacific,Japan,276,Packaged Food,2015,Ice Cream,160660,Ice Cream,160660,no,...,5442.660651,5441.094277,5552.782946,5727.818054,5804.042536,5889.242726,5956.158684,6008.481322,6053.865154,6096.725364
30,Asia Pacific,Kazakhstan,279,Packaged Food,2015,Ice Cream,160660,Ice Cream,160660,no,...,37.727510,38.832398,39.865995,36.085287,35.044612,35.160026,35.873830,36.959643,38.203863,39.614533
31,Asia Pacific,Kazakhstan,279,Packaged Food,2015,Ice Cream,160660,Ice Cream,160660,no,...,26.664037,27.455125,28.194966,25.520771,24.799575,24.889180,25.398831,26.170010,27.052673,28.051600
32,Asia Pacific,Kazakhstan,279,Packaged Food,2015,Ice Cream,160660,Ice Cream,160660,no,...,39.921224,41.084465,42.170761,38.167287,37.170334,37.329682,38.073643,39.191354,40.462355,41.899675
33,Asia Pacific,Kazakhstan,279,Packaged Food,2015,Ice Cream,160660,Ice Cream,160660,no,...,28.857751,29.707192,30.499731,27.602771,26.925297,27.058835,27.598644,28.401721,29.311165,30.336742
34,Asia Pacific,Kazakhstan,279,Packaged Food,2015,Ice Cream,160660,Ice Cream,160660,no,...,250.182016,262.471442,280.933033,264.409199,307.440988,306.368861,313.896251,326.280140,339.909184,354.948675
35,Asia Pacific,Malaysia,314,Packaged Food,2015,Ice Cream,160660,Ice Cream,160660,no,...,44.921704,46.876998,48.977609,50.734420,52.435975,54.110677,55.879486,57.732043,59.623774,61.545029
36,Asia Pacific,Malaysia,314,Packaged Food,2015,Ice Cream,160660,Ice Cream,160660,no,...,32.747725,34.196113,35.722760,37.011909,38.259202,39.468858,40.728645,42.052589,43.409840,44.788753
37,Asia Pacific,Malaysia,314,Packaged Food,2015,Ice Cream,160660,Ice Cream,160660,no,...,54.772210,57.076780,59.572799,61.686358,63.784701,65.889427,68.124594,70.483305,72.922950,75.440105
38,Asia Pacific,Malaysia,314,Packaged Food,2015,Ice Cream,160660,Ice Cream,160660,no,...,42.598231,44.395895,46.317951,47.963847,49.607928,51.247609,52.973753,54.803851,56.709016,58.683829
39,Asia Pacific,Malaysia,314,Packaged Food,2015,Ice Cream,160660,Ice Cream,160660,no,...,171.822704,174.858320,180.886580,184.251912,186.231264,188.192295,190.726321,193.536498,196.383668,199.233045
40,Asia Pacific,Pakistan,332,Packaged Food,2015,Ice Cream,160660,Ice Cream,160660,no,...,45.840098,47.600689,49.412996,51.174674,53.721264,56.875932,60.469186,64.152113,67.974649,71.978003
41,Asia Pacific,Pakistan,332,Packaged Food,2015,Ice Cream,160660,Ice Cream,160660,no,...,32.660785,33.916959,35.210499,36.468666,38.286832,40.530581,43.082094,45.694571,48.402635,51.236089
42,Asia Pacific,Pakistan,332,Packaged Food,2015,Ice Cream,160660,Ice Cream,160660,no,...,46.502287,48.278079,50.103947,51.878075,54.435277,57.599289,61.199887,64.888087,68.714465,72.720204
43,Asia Pacific,Pakistan,332,Packaged Food,2015,Ice Cream,160660,Ice Cream,160660,no,...,33.322975,34.594348,35.901450,37.172068,39.000845,41.253938,43.812794,46.430545,49.142451,51.978290
44,Asia Pacific,Pakistan,332,Packaged Food,2015,Ice Cream,160660,Ice Cream,160660,no,...,116.289868,113.296134,113.612517,116.372095,118.518427,124.048293,130.744353,137.895765,145.538850,153.778784
45,Asia Pacific,Philippines,331,Packaged Food,2015,Ice Cream,160660,Ice Cream,160660,no,...,61.610826,64.348298,67.361856,68.690673,70.013877,71.427784,72.752617,74.501771,76.641208,79.064066
46,Asia Pacific,Philippines,331,Packaged Food,2015,Ice Cream,160660,Ice Cream,160660,no,...,43.851666,45.770912,47.877245,48.804834,49.730590,50.724363,51.655213,52.885882,54.392126,56.099252
47,Asia Pacific,Philippines,331,Packaged Food,2015,Ice Cream,160660,Ice Cream,160660,no,...,65.910077,68.702309,71.775187,73.172298,74.568962,76.065849,77.483642,79.336266,81.590284,84.139514
48,Asia Pacific,Philippines,331,Packaged Food,2015,Ice Cream,160660,Ice Cream,160660,no,...,48.132237,50.105924,52.271273,53.266866,54.265809,55.342303,56.365873,57.699787,59.320406,61.153717
49,Asia Pacific,Philippines,331,Packaged Food,2015,Ice Cream,160660,Ice Cream,160660,no,...,221.410434,220.417529,225.578674,228.776176,228.660532,234.350551,239.897824,246.916389,255.283331,264.653520

In [20]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 400 entries, 0 to 399
Data columns (total 38 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   Region               400 non-null    object
 1   Country              400 non-null    object
 2   CountryID            400 non-null    int64
 3   Industry             400 non-null    object
 4   Edition              400 non-null    int64
 5   Category             400 non-null    object
 6   ParentID             400 non-null    int64
 7   Subcategory          400 non-null    object
 8   ProductID            400 non-null    int64
 9   Lowest Level         400 non-null    object
 10  Modelled             400 non-null    object
 11  Hierarchy Level      400 non-null    int64
 12  Data Type            400 non-null    object
 13  DataTypeID           400 non-null    int64
 14  Unit                 400 non-null    object
 15  Unit Multiplier      400 non-null    int64
 16  Current/Constant     80 non-null     object
 17  Currency Conversion  400 non-null    object
 18  2000                 386 non-null    float64
 19  2001                 388 non-null    float64
 20  2002                 388 non-null    float64
 21  2003                 388 non-null    float64
 22  2004                 390 non-null    float64
 23  2005                 390 non-null    float64
 24  2006                 390 non-null    float64
 25  2007                 390 non-null    float64
 26  2008                 392 non-null    float64
 27  2009                 392 non-null    float64
 28  2010                 394 non-null    float64
 29  2011                 398 non-null    float64
 30  2012                 398 non-null    float64
 31  2013                 398 non-null    float64
 32  2014                 400 non-null    float64
 33  2015                 400 non-null    float64
 34  2016                 400 non-null    float64
 35  2017                 400 non-null    float64
 36  2018                 400 non-null    float64
 37  2019                 400 non-null    float64
dtypes: float64(20), int64(7), object(11)
memory usage: 118.9+ KB

In [22]:
# Sum of Nan values by columns
df.isna().sum()

Region                   0
Country                  0
CountryID                0
Industry                 0
Edition                  0
Category                 0
ParentID                 0
Subcategory              0
ProductID                0
Lowest Level             0
Modelled                 0
Hierarchy Level          0
Data Type                0
DataTypeID               0
Unit                     0
Unit Multiplier          0
Current/Constant       320
Currency Conversion      0
2000                    14
2001                    12
2002                    12
2003                    12
2004                    10
2005                    10
2006                    10
2007                    10
2008                     8
2009                     8
2010                     6
2011                     2
2012                     2
2013                     2
2014                     0
2015                     0
2016                     0
2017                     0
2018                     0
2019                     0
dtype: int64

In [23]:
# Filling Nan with 0, in other case we could apply median/mean value
df.fillna(0, inplace=True)

In [24]:
# Check of filling Nan values
df.isna().sum()

Region                 0
Country                0
CountryID              0
Industry               0
Edition                0
Category               0
ParentID               0
Subcategory            0
ProductID              0
Lowest Level           0
Modelled               0
Hierarchy Level        0
Data Type              0
DataTypeID             0
Unit                   0
Unit Multiplier        0
Current/Constant       0
Currency Conversion    0
2000                   0
2001                   0
2002                   0
2003                   0
2004                   0
2005                   0
2006                   0
2007                   0
2008                   0
2009                   0
2010                   0
2011                   0
2012                   0
2013                   0
2014                   0
2015                   0
2016                   0
2017                   0
2018                   0
2019                   0
dtype: int64

In [35]:
df.head(20)

,Region,Country,CountryID,Industry,Edition,Category,ParentID,Subcategory,ProductID,Lowest Level,...,2010,2011,2012,2013,2014,2015,2016,2017,2018,2019
0,Asia Pacific,Azerbaijan,163,Packaged Food,2015,Ice Cream,160660,Ice Cream,160660,no,...,0.000000,29.238692,30.340307,31.797428,33.885975,35.270988,36.555240,37.919347,39.441743,41.215181
1,Asia Pacific,Azerbaijan,163,Packaged Food,2015,Ice Cream,160660,Ice Cream,160660,no,...,21.016289,21.442719,22.242699,23.292057,24.805161,25.817418,26.756105,27.743523,28.852805,30.145005
2,Asia Pacific,Azerbaijan,163,Packaged Food,2015,Ice Cream,160660,Ice Cream,160660,no,...,31.683196,32.468827,33.824007,35.596403,38.052311,39.834793,41.564929,43.443030,45.547622,47.999423
3,Asia Pacific,Azerbaijan,163,Packaged Food,2015,Ice Cream,160660,Ice Cream,160660,no,...,24.040194,24.672854,25.726400,27.091032,28.971497,30.381223,31.765794,33.267206,34.958683,36.929247
4,Asia Pacific,Azerbaijan,163,Packaged Food,2015,Ice Cream,160660,Ice Cream,160660,no,...,0.000000,291.810762,322.067461,343.112059,353.900998,355.194703,360.004716,368.686758,380.552781,395.036649
5,Asia Pacific,China,195,Packaged Food,2015,Ice Cream,160660,Ice Cream,160660,no,...,2847.082677,2984.165172,2905.342026,2933.889151,3005.509439,3069.339071,3126.563945,3189.666130,3253.885297,3307.052387
6,Asia Pacific,China,195,Packaged Food,2015,Ice Cream,160660,Ice Cream,160660,no,...,2202.080369,2307.703475,2246.740213,2269.596406,2326.098048,2376.110183,2420.433170,2468.486874,2516.706245,2555.051125
7,Asia Pacific,China,195,Packaged Food,2015,Ice Cream,160660,Ice Cream,160660,no,...,2851.706501,2989.015564,2910.410685,2939.160557,3010.965344,3074.958653,3132.324016,3195.541403,3259.848699,3313.075423
8,Asia Pacific,China,195,Packaged Food,2015,Ice Cream,160660,Ice Cream,160660,no,...,2206.704193,2312.553867,2251.808872,2274.867811,2331.553952,2381.729765,2426.193241,2474.362147,2522.669647,2561.074161
9,Asia Pacific,China,195,Packaged Food,2015,Ice Cream,160660,Ice Cream,160660,no,...,5260.920909,5477.981680,5497.833501,5617.095845,5867.056832,6073.451814,6274.253181,6495.483566,6727.898391,6949.242307
10,Asia Pacific,"Hong Kong, China",259,Packaged Food,2015,Ice Cream,160660,Ice Cream,160660,no,...,11.735992,11.932907,12.210675,12.450154,12.641214,12.780121,12.886249,13.016686,13.137946,13.248875
11,Asia Pacific,"Hong Kong, China",259,Packaged Food,2015,Ice Cream,160660,Ice Cream,160660,no,...,8.386739,8.527428,8.724715,8.894911,9.030801,9.129246,9.204151,9.296824,9.383251,9.462377
12,Asia Pacific,"Hong Kong, China",259,Packaged Food,2015,Ice Cream,160660,Ice Cream,160660,no,...,13.513880,13.736490,14.046200,14.317767,14.536576,14.700598,14.830255,14.982566,15.123983,15.253290
13,Asia Pacific,"Hong Kong, China",259,Packaged Food,2015,Ice Cream,160660,Ice Cream,160660,no,...,10.164627,10.331012,10.560240,10.762525,10.926163,11.049723,11.148157,11.262704,11.369287,11.466792
14,Asia Pacific,"Hong Kong, China",259,Packaged Food,2015,Ice Cream,160660,Ice Cream,160660,no,...,132.133712,129.494363,128.871830,128.976896,131.457344,133.265490,134.767087,136.514965,138.171706,139.728412
15,Asia Pacific,India,265,Packaged Food,2015,Ice Cream,160660,Ice Cream,160660,no,...,147.723317,167.806372,188.176508,209.285691,228.808568,251.355624,277.106759,305.551444,336.238992,369.712941
16,Asia Pacific,India,265,Packaged Food,2015,Ice Cream,160660,Ice Cream,160660,no,...,106.579191,120.990969,135.570580,150.655134,164.599516,180.757982,199.172548,219.497995,241.419946,265.314068
17,Asia Pacific,India,265,Packaged Food,2015,Ice Cream,160660,Ice Cream,160660,no,...,173.337678,197.378584,221.609560,246.995402,271.264274,298.976558,330.317250,364.788180,401.970448,442.443980
18,Asia Pacific,India,265,Packaged Food,2015,Ice Cream,160660,Ice Cream,160660,no,...,132.193552,150.563181,169.003633,188.364845,207.055221,228.378916,252.383039,278.734731,307.151402,338.045107
19,Asia Pacific,India,265,Packaged Food,2015,Ice Cream,160660,Ice Cream,160660,no,...,473.462595,529.704887,589.819353,636.378891,674.399638,728.829952,789.192043,855.623025,928.342829,1004.756340

In [28]:
# List of column names to drop
columns_to_drop = [
    'CountryID',
    'Industry',
    'Edition',
    'Category',
    'ParentID',
    'Subcategory',
    'ProductID',
    'Lowest Level',
    'Modelled',
    'Hierarchy Level',
    'DataTypeID',
    'Unit',
    'Unit Multiplier',
    'Current/Constant',
    'Currency Conversion'
]

# Drop the specified columns
df_cleaned = df.drop(columns=columns_to_drop)

# Print the cleaned DataFrame to check the result
print(df_cleaned.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 400 entries, 0 to 399
Data columns (total 23 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   Region     400 non-null    object
 1   Country    400 non-null    object
 2   Data Type  400 non-null    object
 3   2000       400 non-null    float64
 4   2001       400 non-null    float64
 5   2002       400 non-null    float64
 6   2003       400 non-null    float64
 7   2004       400 non-null    float64
 8   2005       400 non-null    float64
 9   2006       400 non-null    float64
 10  2007       400 non-null    float64
 11  2008       400 non-null    float64
 12  2009       400 non-null    float64
 13  2010       400 non-null    float64
 14  2011       400 non-null    float64
 15  2012       400 non-null    float64
 16  2013       400 non-null    float64
 17  2014       400 non-null    float64
 18  2015       400 non-null    float64
 19  2016       400 non-null    float64
 20  2017       400 non-null    float64
 21  2018       400 non-null    float64
 22  2019       400 non-null    float64
dtypes: float64(20), object(3)
memory usage: 72.0+ KB
None

In [79]:
df_cleaned.head(100)

,Region,Country,Data Type,2000,2001,2002,2003,2004,2005,2006,...,2010,2011,2012,2013,2014,2015,2016,2017,2018,2019
0,Asia Pacific,Azerbaijan,Retail Volume,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,29.238692,30.340307,31.797428,33.885975,35.270988,36.555240,37.919347,39.441743,41.215181
1,Asia Pacific,Azerbaijan,Retail Volume (Tonnes),13.334554,13.798548,14.340582,15.006165,16.047490,16.893265,17.893932,...,21.016289,21.442719,22.242699,23.292057,24.805161,25.817418,26.756105,27.743523,28.852805,30.145005
2,Asia Pacific,Azerbaijan,Total Volume,19.577943,20.294977,21.171651,22.172237,23.829250,25.152456,26.704597,...,31.683196,32.468827,33.824007,35.596403,38.052311,39.834793,41.564929,43.443030,45.547622,47.999423
3,Asia Pacific,Azerbaijan,Total Volume (Tonnes),14.931705,15.479710,16.147830,16.897451,18.148897,19.141771,20.310627,...,24.040194,24.672854,25.726400,27.091032,28.971497,30.381223,31.765794,33.267206,34.958683,36.929247
4,Asia Pacific,Azerbaijan,Retail Value RSP,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,291.810762,322.067461,343.112059,353.900998,355.194703,360.004716,368.686758,380.552781,395.036649
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
95,Eastern Europe,Bosnia-Herzegovina,Retail Volume,4.642644,4.433603,4.841396,5.246165,5.504587,5.751961,5.918835,...,4.158623,4.415830,4.565591,4.183230,4.344473,4.462821,4.575080,4.687101,4.798473,4.910177
96,Eastern Europe,Bosnia-Herzegovina,Retail Volume (Tonnes),3.391757,3.245429,3.549925,3.852074,4.049614,4.237908,4.369948,...,3.026004,3.217483,3.329307,3.050200,3.166949,3.253299,3.335348,3.417187,3.498525,3.580041
97,Eastern Europe,Bosnia-Herzegovina,Total Volume,5.032644,4.853603,5.291396,5.726165,6.014587,6.321961,6.578835,...,4.918623,5.198630,5.367961,4.937458,5.121328,5.282403,5.442197,5.601910,5.761767,5.921636
98,Eastern Europe,Bosnia-Herzegovina,Total Volume (Tonnes),3.781757,3.665429,3.999925,4.332074,4.559614,4.807908,5.029948,...,3.786004,4.000283,4.131677,3.804428,3.943803,4.072880,4.202465,4.331996,4.461819,4.591499
99,Eastern Europe,Bosnia-Herzegovina,Retail Value RSP,36.632048,33.656002,36.187951,39.472547,41.505918,42.098709,42.720000,...,31.827948,33.155731,33.724630,30.312412,31.110018,32.279466,33.268653,34.186930,35.047492,35.853748

In [89]:
# Melt the DataFrame
df_melted = df_cleaned.melt(id_vars=['Region', 'Country', 'Data Type'], var_name='Year', value_name='Value')

# Display the melted DataFrame
df_melted.head(1000)

            Region     Country               Data Type  Year       Value
0     Asia Pacific  Azerbaijan           Retail Volume  2000    0.000000
1     Asia Pacific  Azerbaijan  Retail Volume (Tonnes)  2000   13.334554
2     Asia Pacific  Azerbaijan            Total Volume  2000   19.577943
3     Asia Pacific  Azerbaijan   Total Volume (Tonnes)  2000   14.931705
4     Asia Pacific  Azerbaijan        Retail Value RSP  2000    0.000000
..             ...         ...                     ...   ...         ...
995  Latin America       Chile           Retail Volume  2002   94.918900
996  Latin America       Chile  Retail Volume (Tonnes)  2002   68.244382
997  Latin America       Chile            Total Volume  2002  105.039400
998  Latin America       Chile   Total Volume (Tonnes)  2002   78.364881
999  Latin America       Chile        Retail Value RSP  2002  519.109270

[1000 rows x 5 columns]

In [88]:
df_melted.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8000 entries, 0 to 7999
Data columns (total 5 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   Region     8000 non-null   object
 1   Country    8000 non-null   object
 2   Data Type  8000 non-null   object
 3   Year       8000 non-null   object
 4   Value      8000 non-null   float64
dtypes: float64(1), object(4)
memory usage: 312.6+ KB

In [94]:

# Separate the data by 'Retail Volume (Tonnes)' and 'Retail Value RSP'
volume_df = df_melted[df_melted['Data Type'] == 'Retail Volume (Tonnes)']
value_df = df_melted[df_melted['Data Type'] == 'Retail Value RSP']

# Group by 'Region', 'Country', 'Year' and sum the values
volume_sums = volume_df.groupby(['Region', 'Country', 'Year'])['Value'].sum().reset_index()
value_sums = value_df.groupby(['Region', 'Country', 'Year'])['Value'].sum().reset_index()

# Rename columns for clarity
volume_sums.rename(columns={'Value': 'Ice Cream Volume'}, inplace=True)
value_sums.rename(columns={'Value': 'Ice Cream Value'}, inplace=True)

# Multiply the values
value_sums['Ice Cream Value'] *= 100000
volume_sums['Ice Cream Volume'] *= 1000

# Merge the results on 'Region', 'Country', 'Year'
merged_df = pd.merge(volume_sums, value_sums, on=['Region', 'Country', 'Year'], how='outer')

# Create the formatted column
merged_df['Formatted'] = merged_df.apply(
    lambda row: f"{row['Region']}-{row['Country']}-{row['Year']}-{row.get('Ice Cream Value', 0)}-{row.get('Ice Cream Volume', 0)}",
    axis=1
)

# Drop the 'Formatted' column
final_df = merged_df.drop(columns=['Formatted'])
final_df.head(100)

          Region     Country  Year  Ice Cream Volume  Ice Cream Value
0   Asia Pacific  Azerbaijan  2000       13334.55370             0.00
1   Asia Pacific  Azerbaijan  2001       13798.54844             0.00
2   Asia Pacific  Azerbaijan  2002       14340.58168             0.00
3   Asia Pacific  Azerbaijan  2003       15006.16547             0.00
4   Asia Pacific  Azerbaijan  2004       16047.48967             0.00
..           ...         ...   ...               ...              ...
95  Asia Pacific   Indonesia  2015       69360.61195      39157897.92
96  Asia Pacific   Indonesia  2016       76606.77614      43783492.28
97  Asia Pacific   Indonesia  2017       84238.32004      48786730.31
98  Asia Pacific   Indonesia  2018       92402.07188      54201151.36
99  Asia Pacific   Indonesia  2019      101227.38380      60140606.02

[100 rows x 5 columns]

In [95]:
# Desired column order
new_order = ['Region', 'Country', 'Year', 'Ice Cream Value', 'Ice Cream Volume']

# Reorder columns
final_df = final_df[new_order]

In [97]:
#Counting Ice Cream Price
final_df['Ice Cream Price'] = final_df['Ice Cream Value'] / final_df['Ice Cream Volume']

In [98]:
final_df.head(100)

,Region,Country,Year,Ice Cream Value,Ice Cream Volume,Ice Cream Price
0,Asia Pacific,Azerbaijan,2000,0.00,13334.55370,0.000000
1,Asia Pacific,Azerbaijan,2001,0.00,13798.54844,0.000000
2,Asia Pacific,Azerbaijan,2002,0.00,14340.58168,0.000000
3,Asia Pacific,Azerbaijan,2003,0.00,15006.16547,0.000000
4,Asia Pacific,Azerbaijan,2004,0.00,16047.48967,0.000000
...,...,...,...,...,...,...
95,Asia Pacific,Indonesia,2015,39157897.92,69360.61195,564.555254
96,Asia Pacific,Indonesia,2016,43783492.28,76606.77614,571.535502
97,Asia Pacific,Indonesia,2017,48786730.31,84238.32004,579.151273
98,Asia Pacific,Indonesia,2018,54201151.36,92402.07188,586.579394
99,Asia Pacific,Indonesia,2019,60140606.02,101227.38380,594.114001

In [205]:
#Save dataframe to file
final_df.to_csv('dataframe1.csv', index=False)

In [105]:
final_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1600 entries, 0 to 1599
Data columns (total 6 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Region            1600 non-null   object
 1   Country           1600 non-null   object
 2   Year              1600 non-null   object
 3   Ice Cream Value   1600 non-null   float64
 4   Ice Cream Volume  1600 non-null   float64
 5   Ice Cream Price   1600 non-null   float64
dtypes: float64(3), object(3)
memory usage: 87.5+ KB

In [112]:
# Group by 'Year' and 'Region' and calculate total volume
total_volume_by_region = final_df.groupby(['Year', 'Region'])['Ice Cream Volume'].sum().reset_index()

# Print the total volumes by region for each year to verify grouping
total_volume_by_region.head(200)

     Year                  Region  Ice Cream Volume
0    2000            Asia Pacific      2.104757e+06
1    2000             Australasia      1.817983e+05
2    2000          Eastern Europe      5.952718e+05
3    2000           Latin America      4.704668e+05
4    2000  Middle East and Africa      3.280442e+05
..    ...                     ...               ...
135  2019          Eastern Europe      8.314351e+05
136  2019           Latin America      9.934569e+05
137  2019  Middle East and Africa      7.247255e+05
138  2019           North America      2.837279e+06
139  2019          Western Europe      2.127326e+06

[140 rows x 3 columns]

In [147]:
# Creating new dataframe with values by year=2018
volume_2018 = total_volume_by_region[total_volume_by_region['Year'] == '2018']

volume_2018.head(10)

     Year                  Region  Ice Cream Volume
126  2018            Asia Pacific      3.989406e+06
127  2018             Australasia      2.298278e+05
128  2018          Eastern Europe      8.100645e+05
129  2018           Latin America      9.538198e+05
130  2018  Middle East and Africa      6.882976e+05
131  2018           North America      2.828541e+06
132  2018          Western Europe      2.095966e+06

In [149]:
# DF copy
new_df=volume_2018

In [151]:
# Converting object Year to int type
new_df["Year"]=pd.to_numeric(volume_2018['Year'], errors='coerce')

C:\Users\Ð¢Ð°Ñ‚ÑŒÑÐ½Ð°\AppData\Local\Temp\ipykernel_11844\2106992682.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  new_df["Year"]=pd.to_numeric(volume_2018['Year'], errors='coerce')

In [159]:
# Sort by total volume in descending order
sorted_volumes_2018 = new_df.sort_values(by='Ice Cream Volume', ascending=False)

# Get the second largest region in 2018
second_largest_region_2018 = sorted_volumes_2018.iloc[1]
sorted_volumes_2018.head(10)

     Year                  Region  Ice Cream Volume
126  2018            Asia Pacific      3.989406e+06
131  2018           North America      2.828541e+06
132  2018          Western Europe      2.095966e+06
129  2018           Latin America      9.538198e+05
128  2018          Eastern Europe      8.100645e+05
130  2018  Middle East and Africa      6.882976e+05
127  2018             Australasia      2.298278e+05

In [160]:
print(second_largest_region_2018)

Year                         2018
Region              North America
Ice Cream Volume     2828540.6934
Name: 131, dtype: object

In [129]:
volume_2018.columns

Index(['Year', 'Region', 'Ice Cream Volume'], dtype='object')

In [118]:
sorted_volumes_2018.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 7 entries, 126 to 127
Data columns (total 3 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Year              7 non-null      object
 1   Region            7 non-null      object
 2   Ice Cream Volume  7 non-null      float64
dtypes: float64(1), object(2)
memory usage: 224.0+ bytes

In [203]:

def rank_by_metric(df, group_by_cols, metric_col, rank, sort_col=None, ascending=False, year=None, numeric_cols=None):
    """
    Function to rank regions or countries by a specific metric.

    Parameters:
    - df (DataFrame): The input DataFrame.
    - group_by_cols (list): List of columns to group by.
    - metric_col (str): The column name of the metric to sum and rank.
    - rank (int): The desired rank (e.g., 1 for largest, 2 for second largest, etc.).
    - sort_col (str, optional): The column to sort by. If None, sorts by metric_col.
    - ascending (bool): Sort order, False for descending and True for ascending.
    - year (int, optional): The specific year to filter by. If None, considers all years.
    - numeric_cols (list, optional): List of columns to convert to numeric types.

    #For function I took only a) and b) tasks, due to realisation of c) task. For the last one there were no requirements of summing data, so it couldn't be the same alg-m.
    """
    # Convert specified columns to numeric if provided
    if numeric_cols:
        for col in numeric_cols:
            df[col] = pd.to_numeric(df[col], errors='coerce')

   

    # Group by the specified columns and aggregate the metric
    updated_df = df.groupby(group_by_cols)[metric_col].sum().reset_index()
    
    

    # Sort by total volume in descending order
    sorted_df = updated_df.sort_values(by=metric_col, ascending=False)
    
    searching_value = sorted_df.iloc[rank-1]

    print(searching_value)

# a) The third largest region by Ice Cream Value
print("Third largest region by Ice Cream Value:")
print(rank_by_metric(final_df, ['Region'], 'Ice Cream Value', 3, numeric_cols=['Ice Cream Value']))

# b) The tenth largest country by Ice Cream Volume
print("\nTenth largest country by Ice Cream Volume:")
print(rank_by_metric(final_df, ['Country'], 'Ice Cream Volume', 10, numeric_cols=['Ice Cream Volume']))

Third largest region by Ice Cream Value:
Region                   Asia Pacific
Ice Cream Value    29831743638.804001
Name: 0, dtype: object
None

Tenth largest country by Ice Cream Volume:
Country                     Iran
Ice Cream Volume    4146781.3793
Name: 34, dtype: object
None

price

In [206]:
# Create a new table with selected columns
new_table = final_df[['Year', 'Country', 'Ice Cream Price']]

# Convert 'Year' to numeric
new_table['Year'] = pd.to_numeric(new_table['Year'], errors='coerce')

# Filter for the year 2018
filtered_df = new_table[new_table['Year'] == 2009]

# Sort by 'Ice Cream Price' in descending order

filtered_df.head(100)

C:\Users\Ð¢Ð°Ñ‚ÑŒÑÐ½Ð°\AppData\Local\Temp\ipykernel_11844\2916329662.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  new_table['Year'] = pd.to_numeric(new_table['Year'], errors='coerce')

      Year           Country  Ice Cream Price
9     2009        Azerbaijan         0.000000
29    2009             China       241.679866
49    2009  Hong Kong, China      1584.411182
69    2009             India       480.333204
89    2009         Indonesia       501.523903
...    ...               ...              ...
1509  2009             Spain      1058.125545
1529  2009            Sweden      1490.708844
1549  2009       Switzerland      2045.731471
1569  2009            Turkey       831.299008
1589  2009    United Kingdom      1039.673635

[80 rows x 3 columns]

In [195]:
filtered_df.info

<bound method DataFrame.info of       Year           Country  Ice Cream Price
18    2018        Azerbaijan      1318.945544
38    2018             China       267.329507
58    2018  Hong Kong, China      1472.535573
78    2018             India       384.534436
98    2018         Indonesia       586.579394
...    ...               ...              ...
1518  2018             Spain       783.293840
1538  2018            Sweden      1542.507048
1558  2018       Switzerland      2189.467305
1578  2018            Turkey       740.356888
1598  2018    United Kingdom       988.104269

[80 rows x 3 columns]>

In [207]:
sorted_price = filtered_df.sort_values(by='Ice Cream Price', ascending=False)


# Check the data after sorting
print("\nData after sorting by Ice Cream Price:")
print(sorted_price)
print(sorted_price.iloc[1])

Data after sorting by Ice Cream Price:
      Year      Country  Ice Cream Price
1429  2009        Italy      2405.283629
1469  2009       Norway      2098.161890
1549  2009  Switzerland      2045.731471
1069  2009       Israel      2013.423403
969   2009    Venezuela      2010.163870
...    ...          ...              ...
29    2009        China       241.679866
869   2009      Ecuador         0.000000
1129  2009      Nigeria         0.000000
889   2009    Guatemala         0.000000
9     2009   Azerbaijan         0.000000

[80 rows x 3 columns]
Year                     2009
Country                Norway
Ice Cream Price    2098.16189
Name: 1469, dtype: object

check for the results

In [ ]:
#Here I made tests of average func for the previous tasks, results are the same, this is not main part

In [202]:
# Group by 'Year' and 'Region' and calculate total volume
total_volume_by_region = final_df.groupby(['Region'])['Ice Cream Value'].sum().reset_index()


new_df = total_volume_by_region
new_df["Year"] = pd.to_numeric(volume_2018['Year'], errors='coerce')

# Sort by total volume in descending order
sorted_volumes_2018 = new_df.sort_values(by='Ice Cream Value', ascending=False)

# Get the second largest region in 2018

sorted_volumes_2018.head(10)

                   Region  Ice Cream Value  Year
6          Western Europe     4.535672e+10   NaN
5           North America     3.173484e+10   NaN
0            Asia Pacific     2.983174e+10   NaN
3           Latin America     1.563367e+10   NaN
2          Eastern Europe     1.063143e+10   NaN
4  Middle East and Africa     7.107962e+09   NaN
1             Australasia     3.759360e+09   NaN

In [204]:
total_volume_by_region = final_df.groupby(['Country'])['Ice Cream Volume'].sum().reset_index()


new_df = total_volume_by_region


# Sort by total volume in descending order
sorted_volumes_2018 = new_df.sort_values(by='Ice Cream Volume', ascending=False)

# Get the second largest region in 2018

sorted_volumes_2018.head(10)

           Country  Ice Cream Volume
72             USA      5.451429e+07
14           China      4.046174e+07
38           Japan      1.125886e+07
27         Germany      8.930969e+06
57          Russia      6.938376e+06
9           Brazil      6.900494e+06
75  United Kingdom      5.190918e+06
37           Italy      4.600846e+06
25          France      4.189437e+06
34            Iran      4.146781e+06